.del, .home {
    width: 150px;
    height: 20px;
    background-color:cadetblue;
    text-align: center;
    cursor: pointer;
}
.del:hover, .home:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}