body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background: url(b2.jpg);;
  background-size: cover;
}
.head {
    margin-left: 50%;
}
.head2 {
    

}
.container2 {
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-top: 1%;
    
}
.container1 {
    margin: auto;
    width: 80%;
    min-height: 700px;
    background-color:#DCDCDC;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    border: 2px solid;
    border-radius: 5%;  
}
.div1 {
    margin-top: 2%;
    margin-left: 2%;
}
.div2 {
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
}
.but1, .but2, .but4, .but5 {
    width: 100px;
    height: 30px;
    background-color: #4169E1;
    cursor: pointer;
    border-radius: 10%;
    text-align: center;
    font-weight: 600; 
    padding-top: 0.3em;
}
.but1:hover, .but2:hover, .but3:hover, .but4:hover, .but5:hover {
   background-color: #1E90FF; 
    cursor: pointer;
    color: red;
}
.but2 {
    font-size: 0.8em;
}
.but3 {
    width: 100px;
    height: 53px;
    background-color: #4169E1;
    cursor: pointer;
    border-radius: 10%;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 0.1em;
}
.footer {
    width: 170px;
    margin: auto;
}
.en {
    margin-left: 1%;
    width: 2em;
    height: 2em;
    cursor: pointer;
}
.ru {
    width: 2.7em;
    height: 2em;
    cursor: pointer;
}
.homeContentEn {
    display: none;
}
.enMenu {
     display: none;
}
.carousel {
    margin-top: -50px;
}


 